* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #ff8f71;
}
.main > h1 {
  text-align: center;
  color: white;
}
.main > p {
  text-align: center;
}
#main-iframe {
  border-radius: 50px;
  margin-top: 50px;
  align-items: center;
}
